{% load staticfiles %}
{% include 'head.html'%}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Batcoder</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-user"></span>{{ user }}</a></li>
      <li><a href="/logout" id="logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
  </div>
</nav>
<center><h1>INBOX</h1></center>
<br>

      <center><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Send Message</button></center>
          <br>
          {% if senders%}
<div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
      <ul class="list-group">
            {% for msg in senders %}
          <a href="/get_msgs/{{msg.sender__username}}" class="list-group-item">
          {{msg.sender__username}}
          </a>
          {% endfor %}
      </ul></div>
    <div class="col-md-3"></div>
</div>
          {% endif %}
          {% if msgs%}
      <center><a href="/" type="button" class="btn btn-info">Back</a></center>
      <br>
      <div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-primary">
      <div class="panel-body">
          <ul class="chat">
          {% for msg in msgs %}
          <li class="{{msg.type}} clearfix">
    <span class="chat-img pull-{{msg.type}}">
        <div class="numberCircle">{{msg.sender__username|make_list|slice:'1'|join:''}}</div>
    </span>
<div class="chat-body clearfix">
    <div class="header">
        <small class="pull-{{msg.rtype}} text-muted">
        <span class="glyphicon glyphicon-time"></span>{{msg.sent_time}}</small>
     </div>
    <center><p>{{msg.msg_body}}</p></center>
</div>
</li>
          {% endfor %}
                    </ul>
      </div></div></div></div></div>
        <div class="col-md-3"></div>
          {% endif %}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Send message</h4>
      </div>
      <div class="modal-body">
        <form action="/send_msg" method="post">
            {% csrf_token %}
            <input name="receiver" class="form-control" id="receiver" placeholder="Receiver">
            <br>
            <textarea id="msg_body" class="form-control" name="msg_body" placeholder="Your Message Here"></textarea>
            <br>
            <center><button type="submit" class="btn btn-default">Send Message</button></center>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% include 'footer.html' %}